* {
  margin: 0;
  padding: 0;
}
html {
  background-image: url(./kelly-sikkema-7rq8zzRBWG0-unsplash.jpg);
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
}
.section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.item {
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(195, 196, 192);
}
.section-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin: 5px;
}
.section-add {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  height: 40px;
  align-items: center;
}
.section-add:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.add-task {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.add-task-bg {
  inset: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}
.add-task-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 400px;

  border-radius: 10px;
  background-color: white;
}
.title-input {
  width: 100%;
  height: 30px;
}
.description-imput {
  width: 100%;
  height: 100px;
}
.status-select {
  width: 100%;
  height: 30px;
}
.add {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
}
h2 {
  font-size: 16px;
  font-weight: 500;
}
